.search-form {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .search-question {
    width: 100%;
    padding: 0.5rem;
  }
  
  .search-textarea {
    width: 100%;
    min-height: 100px;
    resize: none;
    margin-bottom: 1rem;
  }
  